version: '3.8'

services:
  gateway:
    build: ./servicioGateway
    ports:
      - "8089:8089"
    environment:
      - PORT=8089
      # El Gateway necesita saber dónde están los demás (Nombres de servicio Docker)
      - CUENTAS_URL=http://cuentas:8082
      - INTERACCION_URL=http://interaccion:8083
      - GAMIFICACION_URL=http://recompensas:8084
      - ADMINISTRACION_URL=http://administracion:8085
      - CONTENIDO_URL=http://contenido:8091
      - GRAFICOS_URL=http://graficos:8092
      - NOTICIAS_URL=http://noticias:8093
      - TRADUCCION_URL=http://traduccion:8086
      - PUNTOS_URL=http://puntos:8097
    depends_on:
      - cuentas
      - interaccion
      - recompensas
      - noticias
      - graficos
      - contenido
      - administracion
    restart: always

  cuentas:
    build: ./servicioCuentas
    ports:
      - "8082:8082"
    environment:
      - PORT=8082
      - NODE_ENV=production
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
      # Cloudinary específico de Cuentas
      - CLOUDINARY_CLOUD_NAME=dwejupwch
      - CLOUDINARY_API_KEY=591839651562978
      - CLOUDINARY_API_SECRET=RiFRizGHrj3cW1pdMrGh_ForNXU
    restart: always

  interaccion:
    build: ./servicioInteraccion
    ports:
      - "8083:8083"
    environment:
      - PORT=8083
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
    restart: always

  recompensas:
    build: ./servicioRecompensas
    ports:
      - "8084:8084"
    environment:
      - PORT=8084
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
    restart: always
    
  noticias:
    build: ./servicioNoticias
    ports:
      - "8093:8093"
    environment:
      - PORT=8093
      # Agrego DB por si acaso (si no la usa, no pasa nada)
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
    restart: always

  graficos:
    build: ./servicioGraficos
    ports:
      - "8092:8092"
    environment:
      - PORT=8092
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
    restart: always

  contenido:
    build: ./servicioContenido
    ports:
      - "8091:8091"
    environment:
      - PORT=8091
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
    restart: always

  administracion:
    build: ./servicioAdministracion
    ports:
      - "8085:8085"
    environment:
      - PORT=8085
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
      # Cloudinary específico de Administración
      - CLOUDINARY_CLOUD_NAME=dwejupwch
      - CLOUDINARY_API_KEY=591839651562978
      - CLOUDINARY_API_SECRET=RiFRizGHrj3cW1pdMrGh_ForNXU
    restart: always