services:
  gateway:
    build: ./servicioGateway
    ports:
      - "8089:8089"
    depends_on:
      - cuentas
      - interaccion
      - recompensas
      - noticias
      - graficos
      - contenido
      - administracion
      - puntos
    restart: always

  cuentas:
    build: ./servicioCuentas
    ports:
      - "8082:8082"
    restart: always

  interaccion:
    build: ./servicioInteraccion
    ports:
      - "8083:8083"
    restart: always

  recompensas:
    build: ./servicioRecompensas
    ports:
      - "8084:8084"
    restart: always
    
  noticias:
    build: ./servicioNoticias
    ports:
      - "8093:8093"
    restart: always

  graficos:
    build: ./servicioGraficos
    ports:
      - "8092:8092"
    restart: always

  contenido:
    build: ./servicioContenido
    ports:
      - "8091:8091"
    restart: always

  administracion:
    build: ./servicioAdministracion
    ports:
      - "8085:8085"
    restart: always

    cuentas:
    build: ./servicioPuntos
    ports:
      - "8087:8087"
    restart: always
    
