version: '3.8'

# 1. DEFINIMOS LA RED COMPARTIDA (El "Puente")
networks:
  goica_network:
    driver: bridge

services:
  gateway:
    container_name: gateway_container
    build: ./servicioGateway
    ports:
      - "8089:8089"
    environment:
      - PORT=8089
      # URLs usando los nombres de contenedor fijos
      - CUENTAS_URL=http://cuentas_container:8082
      - INTERACCION_URL=http://interaccion_container:8083
      - GAMIFICACION_URL=http://recompensas_container:8084
      - ADMINISTRACION_URL=http://administracion_container:8085
      - CONTENIDO_URL=http://contenido_container:8091
      - GRAFICOS_URL=http://graficos_container:8092
      - NOTICIAS_URL=http://noticias_container:8093
    depends_on:
      - cuentas
      - interaccion
      - recompensas
      - noticias
      - graficos
      - contenido
      - administracion
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always

  cuentas:
    container_name: cuentas_container
    build: ./servicioCuentas
    ports:
      - "8082:8082"
    environment:
      - PORT=8082
      - NODE_ENV=production
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
      - CLOUDINARY_CLOUD_NAME=dwejupwch
      - CLOUDINARY_API_KEY=591839651562978
      - CLOUDINARY_API_SECRET=RiFRizGHrj3cW1pdMrGh_ForNXU
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always

  interaccion:
    container_name: interaccion_container
    build: ./servicioInteraccion
    ports:
      - "8083:8083"
    environment:
      - PORT=8083
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always

  recompensas:
    container_name: recompensas_container
    build: ./servicioRecompensas
    ports:
      - "8084:8084"
    environment:
      - PORT=8084
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always
    
  noticias:
    container_name: noticias_container
    build: ./servicioNoticias
    ports:
      - "8093:8093"
    environment:
      - PORT=8093
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always

  graficos:
    container_name: graficos_container
    build: ./servicioGraficos
    ports:
      - "8092:8092"
    environment:
      - PORT=8092
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always

  contenido:
    container_name: contenido_container
    build: ./servicioContenido
    ports:
      - "8091:8091"
    environment:
      - PORT=8091
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always

  administracion:
    container_name: administracion_container
    build: ./servicioAdministracion
    ports:
      - "8085:8085"
    environment:
      - PORT=8085
      - DB_HOST=34.176.159.252
      - DB_PORT=3306
      - DB_NAME=goicadb
      - DB_USER=root1
      - DB_PASSWORD=@Basegoica11
      - JWT_SECRET=esteEsUnSecretoMuyLargoYDificilDeAdivinar
      - CLOUDINARY_CLOUD_NAME=dwejupwch
      - CLOUDINARY_API_KEY=591839651562978
      - CLOUDINARY_API_SECRET=RiFRizGHrj3cW1pdMrGh_ForNXU
    networks: # <--- CONEXIÓN A LA RED
      - goica_network
    restart: always